<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.CrawlerHistoryMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.CrawlerHistory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="priceCn" column="price_cn" jdbcType="INTEGER"/>
            <result property="priceUs" column="price_us" jdbcType="DECIMAL"/>
            <result property="priceStr" column="price_str" jdbcType="VARCHAR"/>
            <result property="priceStrCn" column="price_str_cn" jdbcType="VARCHAR"/>
            <result property="priceStrUs" column="price_str_us" jdbcType="VARCHAR"/>
            <result property="usFlag" column="us_flag" jdbcType="TINYINT"/>
            <result property="urlCn" column="url_cn" jdbcType="VARCHAR"/>
            <result property="urlUs" column="url_us" jdbcType="VARCHAR"/>
            <result property="freeDate" column="free_date" jdbcType="TIMESTAMP"/>
            <result property="dataSource" column="data_source" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
            <result property="createUserCode" column="create_user_code" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="lastModifiedCode" column="last_modified_code" jdbcType="VARCHAR"/>
            <result property="lastModifiedName" column="last_modified_name" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_id,title,
        price_cn,price_us,price_str,
        price_str_cn,price_str_us,us_flag,
        url_cn,url_us,free_date,
        data_source,remark,delete_flag,
        create_user_code,create_user_name,created_date,
        last_modified_code,last_modified_name,last_modified_date,
        version
    </sql>

    <insert id="insertOrUpdateBatch">
        insert into t_crawler_history
        (`app_id`,
        `title`,
        `price_cn`,
        `price_us`,
        `price_str`,
        `price_str_cn`,
        `price_str_us`,
        `us_flag`,
        `url_cn`,
        `url_us`,
        `remark`,
        `delete_flag`,
        `create_user_code`,
        `create_user_name`,
        `created_date`,
        `last_modified_code`,
        `last_modified_name`,
        `last_modified_date`,
        `version`)
        values
        <foreach collection="entities" item="entity" separator=",">
            ( #{entity.appId,jdbcType=VARCHAR},
            #{entity.title,jdbcType=VARCHAR},
            #{entity.priceCn,jdbcType=INTEGER},
            #{entity.priceUs,jdbcType=DECIMAL},
            #{entity.priceStr,jdbcType=VARCHAR},
            #{entity.priceStrCn,jdbcType=VARCHAR},
            #{entity.priceStrUs,jdbcType=VARCHAR},
            #{entity.usFlag,jdbcType=TINYINT},
            #{entity.urlCn,jdbcType=VARCHAR},
            #{entity.urlUs,jdbcType=VARCHAR},
            #{entity.remark,jdbcType=VARCHAR},
            #{entity.deleteFlag,jdbcType=INTEGER},
            #{entity.createUserCode,jdbcType=VARCHAR},
            #{entity.createUserName,jdbcType=VARCHAR},
            #{entity.createdDate,jdbcType=TIMESTAMP},
            #{entity.lastModifiedCode,jdbcType=VARCHAR},
            #{entity.lastModifiedName,jdbcType=VARCHAR},
            #{entity.lastModifiedDate,jdbcType=TIMESTAMP},
            #{entity.version,jdbcType=VARCHAR} )
        </foreach>
        on duplicate key update
        app_id = values(app_id),
        `title` = values(`title`),
        price_cn = values(price_cn),
        price_us = values(price_us),
        price_str = values(price_str),
        price_str_cn = values(price_str_cn),
        price_str_us = values(price_str_us),
        us_flag = values(us_flag),
        url_cn = values(url_cn),
        url_us = values(url_us),
        remark = values(remark),
        delete_flag = values(delete_flag),
        create_user_code = values(create_user_code),
        create_user_name = values(create_user_name),
        created_date = values(created_date),
        last_modified_code = values(last_modified_code),
        last_modified_name = values(last_modified_name),
        last_modified_date = values(last_modified_date),
        version = values(version)
    </insert>
</mapper>
