<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.CrawlerTaskMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.CrawlerTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appIdList" column="app_id_list" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="succesList" column="succes_list" jdbcType="VARCHAR"/>
            <result property="failList" column="fail_list" jdbcType="VARCHAR"/>
            <result property="taskMessage" column="task_message" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
            <result property="createUserCode" column="create_user_code" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="lastModifiedCode" column="last_modified_code" jdbcType="VARCHAR"/>
            <result property="lastModifiedName" column="last_modified_name" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_id_list,task_status,
        start_time,end_time,succes_list,
        fail_list,task_message,delete_flag,
        create_user_code,create_user_name,created_date,
        last_modified_code,last_modified_name,last_modified_date,
        version
    </sql>
</mapper>
