<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.UserMapper">

    <select id="selectByUserName" resultType="com.coderdream.freeapps.model.User">
        select * from user
        <where>
            <if test="username !=null and username !=''">
                username = #{username}
            </if>
        </where>
    </select>

    <select id="queryAll" resultType="com.coderdream.freeapps.model.User">
        select *
        from user
    </select>
</mapper>
