<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.App">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
            <result property="designedFor" column="designed_for" jdbcType="VARCHAR"/>
            <result property="ranking" column="ranking" jdbcType="VARCHAR"/>
            <result property="ratingStr" column="rating_str" jdbcType="VARCHAR"/>
            <result property="rating" column="rating" jdbcType="DECIMAL"/>
            <result property="rateAmount" column="rate_amount" jdbcType="INTEGER"/>
            <result property="priceCn" column="price_cn" jdbcType="INTEGER"/>
            <result property="priceUs" column="price_us" jdbcType="DECIMAL"/>
            <result property="priceStr" column="price_str" jdbcType="VARCHAR"/>
            <result property="priceStrCn" column="price_str_cn" jdbcType="VARCHAR"/>
            <result property="priceStrUs" column="price_str_us" jdbcType="VARCHAR"/>
            <result property="usFlag" column="us_flag" jdbcType="TINYINT"/>
            <result property="inPurchaseFlag" column="in_purchase_flag" jdbcType="TINYINT"/>
            <result property="inPurchaseFreeFlag" column="in_purchase_free_flag" jdbcType="TINYINT"/>
            <result property="urlCn" column="url_cn" jdbcType="VARCHAR"/>
            <result property="urlUs" column="url_us" jdbcType="VARCHAR"/>
            <result property="descriptionUs" column="description_us" jdbcType="VARCHAR"/>
            <result property="descriptionCn" column="description_cn" jdbcType="VARCHAR"/>
            <result property="descriptionCl" column="description_cl" jdbcType="VARCHAR"/>
            <result property="descriptionWc" column="description_wc" jdbcType="VARCHAR"/>
            <result property="descriptionGo" column="description_go" jdbcType="VARCHAR"/>
            <result property="descriptionGeek" column="description_geek" jdbcType="VARCHAR"/>
            <result property="descriptionMy" column="description_my" jdbcType="VARCHAR"/>
            <result property="descriptionZm" column="description_zm" jdbcType="VARCHAR"/>
            <result property="supplier" column="supplier" jdbcType="VARCHAR"/>
            <result property="appSizeStr" column="app_size_str" jdbcType="VARCHAR"/>
            <result property="appSize" column="app_size" jdbcType="DECIMAL"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="compatibility" column="compatibility" jdbcType="OTHER"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="VARCHAR"/>
            <result property="copyright" column="copyright" jdbcType="VARCHAR"/>
            <result property="appInPurchase" column="app_in_purchase" jdbcType="OTHER"/>
            <result property="snapshotUrl" column="snapshot_url" jdbcType="OTHER"/>
            <result property="versionHistory" column="version_history" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="createUserCode" column="create_user_code" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="lastModifiedCode" column="last_modified_code" jdbcType="VARCHAR"/>
            <result property="lastModifiedName" column="last_modified_name" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_id,title,
        sub_title,designed_for,ranking,
        rating_str,rating,rate_amount,
        price_cn,price_us,price_str,
        price_str_cn,price_str_us,us_flag,
        in_purchase_flag,in_purchase_free_flag,url_cn,
        url_us,description_us,description_cn,
        description_cl,description_wc,description_go,
        description_geek,description_my,description_zm,
        supplier,app_size_str,app_size,
        category_id,category,compatibility,
        language,age,copyright,
        app_in_purchase,snapshot_url,version_history,
        remark,del_flag,create_user_code,
        create_user_name,created_date,last_modified_code,
        last_modified_name,last_modified_date,version
    </sql>
</mapper>
