<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.BaseinfoShylresResInfoMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.BaseinfoShylresResInfoEntity">
            <id property="guid" column="guid" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="skCode" column="sk_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sysResource" column="sys_resource" jdbcType="VARCHAR"/>
            <result property="collectTime" column="collect_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="majorLevel" column="major_level" jdbcType="VARCHAR"/>
            <result property="characteristicPeriod" column="characteristic_period" jdbcType="VARCHAR"/>
            <result property="acceleration" column="acceleration" jdbcType="VARCHAR"/>
            <result property="seismicDesignIntensity" column="seismic_design_intensity" jdbcType="VARCHAR"/>
            <result property="baseEqIntensity" column="base_eq_intensity" jdbcType="VARCHAR"/>
            <result property="industryDept" column="industry_dept" jdbcType="VARCHAR"/>
            <result property="lowLeftLat" column="low_left_lat" jdbcType="DECIMAL"/>
            <result property="lowLeftLong" column="low_left_long" jdbcType="DECIMAL"/>
            <result property="upRightLat" column="up_right_lat" jdbcType="DECIMAL"/>
            <result property="upRightLong" column="up_right_long" jdbcType="DECIMAL"/>
            <result property="centerLat" column="center_lat" jdbcType="VARCHAR"/>
            <result property="centerLong" column="center_long" jdbcType="DECIMAL"/>
            <result property="resLoc" column="res_loc" jdbcType="VARCHAR"/>
            <result property="interiorAdGuid" column="interior_ad_guid" jdbcType="VARCHAR"/>
            <result property="mgrAdGuid" column="mgr_ad_guid" jdbcType="VARCHAR"/>
            <result property="adGuid" column="ad_guid" jdbcType="VARCHAR"/>
            <result property="basName" column="bas_name" jdbcType="VARCHAR"/>
            <result property="basGuid" column="bas_guid" jdbcType="VARCHAR"/>
            <result property="rvName" column="rv_name" jdbcType="VARCHAR"/>
            <result property="rvGuid" column="rv_guid" jdbcType="VARCHAR"/>
            <result property="compDate" column="comp_date" jdbcType="DATE"/>
            <result property="finishDate" column="finish_date" jdbcType="DATE"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="engStat" column="eng_stat" jdbcType="VARCHAR"/>
            <result property="engScal" column="eng_scal" jdbcType="VARCHAR"/>
            <result property="engGrad" column="eng_grad" jdbcType="VARCHAR"/>
            <result property="resCategory" column="res_category" jdbcType="VARCHAR"/>
            <result property="resFunc" column="res_func" jdbcType="VARCHAR"/>
            <result property="resType" column="res_type" jdbcType="VARCHAR"/>
            <result property="resRegDate" column="res_reg_date" jdbcType="DATE"/>
            <result property="otherRegCode" column="other_reg_code" jdbcType="VARCHAR"/>
            <result property="resRegCode" column="res_reg_code" jdbcType="VARCHAR"/>
            <result property="aliasName" column="alias_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        guid,code,sk_code,
        name,sys_resource,collect_time,
        update_time,create_time,is_deleted,
        note,summary,major_level,
        characteristic_period,acceleration,seismic_design_intensity,
        base_eq_intensity,industry_dept,low_left_lat,
        low_left_long,up_right_lat,up_right_long,
        center_lat,center_long,res_loc,
        interior_ad_guid,mgr_ad_guid,ad_guid,
        bas_name,bas_guid,rv_name,
        rv_guid,comp_date,finish_date,
        start_date,eng_stat,eng_scal,
        eng_grad,res_category,res_func,
        res_type,res_reg_date,other_reg_code,
        res_reg_code,alias_name
    </sql>
</mapper>
