<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.mybatisplusdemo.mapper.DemoDemoMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.mybatisplusdemo.entity.DemoDemo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="DOUBLE"/>
            <result property="height" column="height" jdbcType="DECIMAL"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,age,
        email,is_deleted,sex,
        weight,height,birthday
    </sql>
</mapper>
