<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.ExtraInfoMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.ExtraInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="extraObject" column="extra_object" jdbcType="OTHER"/>
            <result property="extraJson" column="extra_json" jdbcType="OTHER"/>
            <result property="extraList" column="extra_list" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,extra_object,extra_json,
        extra_list
    </sql>
</mapper>
