<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.mybatisplusdemo.mapper.ImportDataErrorDetailMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.mybatisplusdemo.entity.ImportDataErrorDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="dataType" column="data_type" jdbcType="VARCHAR"/>
            <result property="errorInfo" column="error_info" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,file_type,
        data_type,error_info
    </sql>
</mapper>
