<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.freeapps.mapper.SyncTaskMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.freeapps.model.SyncTaskEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="processPeriod" column="process_period" jdbcType="INTEGER"/>
            <result property="lastTime" column="last_time" jdbcType="DATE"/>
            <result property="updateRecord" column="update_record" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,task_name,
        process_period,last_time,update_record,
        create_time,update_time
    </sql>
</mapper>
