<script th:src="@{/scripts/merchantrole/new.js}"></script>
<form id="saveForm" action="./save" method="post">
    <table class="addNewInfList">
        <tr>
            <th>名称</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" name="name" id="name" maxlength="32" />
                <span class="tipStar f-left">*</span>
            </td>
            <th>资源</th>
            <td width="240">
                <div >
                    <select name="rids" id="rids" multiple="multiple">
                        <option th:each="resource:${resources}" th:value="${resource.id}"
                                th:text="${#strings.length(resource.name)>20?#strings.substring(resource.name,0,20)+'...':resource.name}"
                                ></option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>日期</th>
            <td>
                <input  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="inp-list w-200 clear-mr f-left" id="created" name="created"/>
            </td>
        </tr>
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>
