<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.demos.web.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.coderdream.demos.web.pojo.News">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title
    </sql>
</mapper>
