<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 配置自定义日志输出格式 -->
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%t] [%c#%M-%L] %m%n"/>
    <!-- 配置日志输出目录 -->
    <property name="logDir" value="../logDir"/>

    <!-- 配置文件输出器 -->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <!-- 配置日志输出文件 -->
        <file>${logDir}/logback.log</file>
        <!-- 配置日志输出格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 引用自定义日志输出格式 -->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 配置记录器 -->
    <root level="ALL">
        <!-- 引用文件输出器-->
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>