<script th:src="@{/scripts/merchantresource/new.js}"></script>
<form id="saveForm" action="./save" method="post">
    <table class="addNewInfList">
        <tr>
            <th>名称</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" id="name" name="name" maxlength="32" />
                <span class="tipStar f-left">*</span>
            </td>
            <th>模块</th>
            <td width="240">
                <div >
                    <select name="mid" id="mid">
                        <option th:each="model:${models}" th:value="${model.id}"
                                th:text="${#strings.length(model.name)>20?#strings.substring(model.name,0,20)+'...':model.name}"
                                ></option>
                    </select>
                    <span class="tipStar f-right">*</span>
                </div>
            </td>
        </tr>
        <tr>
            <th>URL</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" id="url" name="url" maxlength="64" />
            </td>
            <th>日期</th>
            <td>
                <input  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="inp-list w-200 clear-mr f-left" id="created" name="created"/>
            </td>
        </tr>
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>
