<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--Mapper操作接口所在的命名空间定义-->
<mapper namespace="com.debug.middleware.model.mapper.UserRegMapper" >
  <!--查询结果集映射-->
  <resultMap id="BaseResultMap" type="com.debug.middleware.model.entity.UserReg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--查询用的sql片段-->
  <sql id="Base_Column_List" >
    id, user_name, password, create_time
  </sql>
  <!--插入用户实体信息-->
  <insert id="insertSelective" parameterType="com.debug.middleware.model.entity.UserReg" >
    insert into user_reg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--根据用户名查询用户信息-->
  <select id="selectByUserName" resultType="com.debug.middleware.model.entity.UserReg">
    SELECT <include refid="Base_Column_List"/>
    FROM user_reg WHERE user_name=#{userName}
  </select>
</mapper>





















