<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderdream.mybatisplusdemo.mapper.User2Mapper">

    <!--Map<String,Object> selectMapById(Long id);-->
    <select id="selectMapById" resultType="map">
        select id,name,age,email from t_user2 where id = #{id}
    </select>

    <!--SQL片段，记录基础字段 -->
    <sql id="BaseColumns">id,user_name,age,email</sql>

    <!--Page<User> selectPageVo(@Param("page")Page<User> page,@Param("age") Integer age);-->
    <select id="selectPageVo" resultType="com.coderdream.mybatisplusdemo.entity.User2">
        SELECT <include refid="BaseColumns"></include> FROM t_user2 WHERE age > #{age}
    </select>

</mapper>
