<script th:src="@{/scripts/merchant/edit.js}"></script>
<form id="saveForm" method="post">
    <input type="hidden" name="id" id="id" th:value="${merchant.id}"/>
<div class="addInfBtn" >
    <h3 class="itemTit"><span>商家信息</span></h3>
    <table class="addNewInfList">
        <tr>
            <th>名称</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${merchant.name}" id="name" name="name" maxlength="32" />
                <span class="tipStar f-left">*</span>
            </td>
            <th>邮箱</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${merchant.email}" id="email" name="email" maxlength="128" />
            </td>
        </tr>
        <tr>
            <th>电话</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${merchant.phone}" id="phone" name="phone" maxlength="32" />
                <span class="tipStar f-left">*</span>
            </td>
            <th>地址</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${merchant.address}" id="address" name="address" maxlength="255" />
            </td>
        </tr>
        <tr>
            <th>联系人</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${merchant.linkman}" id="linkman" name="linkman" maxlength="128" />
            </td>
            <th>日期</th>
            <td>
                <input  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="inp-list w-200 clear-mr f-left" th:value="${merchant.created} ? ${#dates.format(merchant.created,'yyyy-MM-dd HH:mm:ss')} :''" id="created" name="created"/>
            </td>
        </tr>
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript:closeDialog(0)">返回</a>
    </div>
</div>

</form>